<div class="container">
  <div class="row">
    <div class="col-md-12">
       Usage: Earnings Surprise- Search for earnings surprise > value(ex: 25 for 25%,
       50 for 50%) Report Time is in M-D-Year format.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <section id="search_earnings">
        <%= form_for zacks_path, method: :get, remote: true do %>
          <p>
            Earnings Surprise:
            <%= text_field_tag :query, params[:query] %>
            <%= submit_tag 'Search', name: nil %>
          </p>
        <% end %>
      </section>
      <div id="zacks-earnings">

      </div>
    </div>
  </div>
</div>
