<div class="container">
  <div class="row">
    <div class="well">
      <p><h3 class='center'>Daily High Lows Difference</h3></p>
      <%= high_low_chart %>
    </div>
  </div>

  <div class="row">
    <article>
      <p>
        Daily Tally of the difference between the number of stocks that have
        hit a new high vs. a new low over 5 time periods(1 month, 3 month,
        6 month, 12 month, and year to date).  Usage: Markets have periods of
        expansion and contraction. Being on the correct side of the market flow
        and awareness of potential turns is an invaluable tool for trade planning
        and execution.
      </p>
      <p>
        On shorter time frames markets expand and contract on swifter cycles.
        Longer term this smooths out.  Through analyzing higher time frames one
        can strategically be on the correct side of the order flow while on shorter
        time frames tactically aware.
      </p>
    </article>
  </div>
</div>
