@import 'base/variables';

.block {
  padding: 5px;
}

.block-powder {
  @extend .block;
  background: $light-powder;
}

.block-dust {
  background: $light-dust;
}

.block-cream {
  background: $light-cream;
}
