<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= button_to 'Weekly', all_time_highs_path, :method => :get, params: { query: :weekly }, remote: true, class: 'btn btn-primary' %>
    </div>
    <div class="col-md-4">
      <%= button_to 'Bi-Weekly', all_time_highs_path, :method => :get, params: { query: :bi_weekly }, remote: true, class: 'btn btn-primary' %>
    </div>
    <div class="col-md-4">
      <%= button_to 'Monthly', all_time_highs_path, :method => :get, params: { query: :monthly }, remote: true, class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="all-time-highs">

      </div>
    </div>
  </div>
</div>
