<table class="table table-striped new_highs">
  <tr>
    <th>Symbol:</th>
    <th>Occurances: </th>
  </tr>
  <% @new_highs.each do |highs| %>
    <tr>
      <td><%= highs[0] %></td>
      <td><%= highs[1] %></td>
    </tr>
  <% end %>
<table>
